@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

.navbar {
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 36px 0px #f0eeeed1;
}
  
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1500px;
}

.logohome {
    width: 194px;
    height: 60px;
}
  
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.visitbtn {
    font-size: 20px; 
}
  
.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}
  
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}
  
.nav-item {
    height: 80px;
    padding-top: 0.2rem;
}
  
.nav-links {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 2.5rem;
    height: 100%;
}
  
.nav-links:hover {
    border-bottom: 4px solid #E96716;
    transition: all 0.2s ease-out;
}
  
.fa-bars {
    color: #E96716;
}
  
.nav-links-mobile {
    display: none;
}
  
.menu-icon {
    display: none;
}
  
.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}

.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../../assets/images/gb.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    background-image: url(https://flagsapi.com/DE/flat/32.png);
}

.en:before {
    background-image: url(https://flagsapi.com/US/flat/32.png);
}
.fr:before {
    background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.ar:before {
    background-image: url(https://flagsapi.com/AE/flat/32.png);
}


.lang-menu:hover ul {
    display: block;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      position: absolute;
      top: 20px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #fff;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #E96716;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(5%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #E96716;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #E96716;
      padding: 14px 20px;
      border: 1px solid #E96716;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #E96716;
      color: #fff;
      transition: 250ms;
    }

    .navbar-container {
        padding-top: 20px;
        width: 100%;
    }

    .logohome {
        width: 130px;
        height: 40px;
    }
}