:root {
    --primary: #004952;
}

.btn2 {
    padding: 15px 30px;
    border-radius: 2px;
    outline: none;
    border: none!important;
    cursor: pointer;
    background-color: none!important;
    color: #000;
    border-radius: 10px;
}

.btn {
    padding: 10px 30px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #93D50AFA;
    cursor: pointer;
    background-color: #93D50AFA;
    color: #fff;
    border-radius: 10px;
}

.btn--primary {
    background-color: #004952;
    color: #242424;
    border: 1px solid #004952;
}

.btn--outline {
    background-color: #004952;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #004952;
    transition: all 0.3s ease-out;
}

.btn--primary2 {
    background-color: #004952;
    color: #242424;
    border: 1px solid #004952;
}

.btn--outline2 {
    background-color: none!important;
    color: #004952;
    padding: 10px 30px;
    border: none!important;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium, .btn--large {
    background: #004952;
    color: #242424;
    transition: all 0.3s ease-out;
}