/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: "Sary";
    src: url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.eot");
    src: url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b592f44ac3f5267196b6fde929a64104.svg#Sary")format("svg");
}

body {
    font-family: "Sary"!important;
}

.ourbusinessSection {
    margin-bottom: -50px;
    padding-bottom: 100px;
}

@media screen and (max-width: 960px) {

    .mobile-view {
        padding-left: 60px;
        padding-right: 60px;
    }

}
